{% extends 'link_page/base.html' %} {% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dropdown00.css' %}" />

{% comment %} ドロップダウンメニュー {% endcomment %}
     <div class="dropdownbase">
      <div class="dropdown">
        <div class="select">
          <span class="selected">Figma</span>
          <div class="caret"></div>
        </div>
        <ul class="menu">
          <li>Framer</li>
          <li>Sketch</li>
          <li>Invision Studio</li>
          <li class="active">Figma</li>
          <li>Adobe XD</li>
        </ul>
      </div>

      <div class="dropdown">
        <div class="select">
          <span class="selected">Facebook</span>
          <div class="caret"></div>
        </div>
          <ul class="menu">
            <li class="active">Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Linkedin</li>
            <li>Tik Tok</li>
          </ul>
      </div>
    </div>

  <script src="{% static 'js/dropdown00.js' %}"></script>

{% endblock %}

