{% extends 'link_page/base.html' %} {% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dropdown02.css' %}" />

<div class="linkWrapper">
  {% if request.user.is_authenticated %}
  <h4><p>{{ request.user }}さん、こんにちは！</p></h4> 
  {% endif %}
  <div id="countdown"></div>
  {% comment %} <p>{{ datetime_now }}</p> {% endcomment %}

{% comment %} ドロップダウンメニュー01 {% endcomment %}
  <div class="dropdownbase2">
    <div class="dropdown">
      <div class="select">
        <span class="selected">TEST_url</span>
        <div class="caret"></div>
      </div>
      <ul class="menu">
        <li class="active">Framer</li>
        <li class="active">Sketch</li>
        <li class="active">Invision Studio</li>
        <li>Figma</li>
        <li>Adobe XD</li>
        <li>Inkscape</li>
      </ul>
    </div>

    <div class="dropdown">
      <div class="select">
        <span>Video production</span>
        <div class="caret"></div>
      </div>
      <ul class="menu">
        <li class="active"><a href="https://www.youtube.com/@shima_jxdg/" target="_blank">YouTube</a></li>
        <li class="active"><a href="https://www.instagram.com/masaki_dg/" target="_blank">Instagram</a></li>
        <li class="active"><a href="https://x.com/shimanuki_m" target="_blank">X (Twitter)</a></li>
        <li>Linkedin</li>
        <li>Tik Tok</li>
        <li>SnapChat</li>
        <li>Facebook</li>
      </ul>
    </div>
  </div>

  <script src="{% static 'js/dropdown01.js' %}"></script>


  <br>
  {% comment %} コメント募集 {% endcomment %}
  <hr>
  <h2 class="place">
    <a href="{% url 'link_page:page_create' %}">コメントする</a>
  {% comment %} jQueryのプルダウンメニュー {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/jquery01.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <div id="category">
      <ul id="menu">
      <li><div class="main_menu">testpage</div>
        <ul class="sub_menu">
          <li><a href="{% url 'link_page:dropdown00' %}">ドロップダウンメニュー</a></li>
          <li><a href="{% url 'link_page:dropdown01' %}">ドロップダウンメニュー2</a></li>
          <li><a href="{% url 'link_page:jquery' %}">jQueryドロップダウンメニュー</a></li>
          <li><a href="{% url 'link_page:test' %}">テストページ</a></li>
        </ul>
      </li>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
  </h2>
  <a href="{% url 'link_page:comment_list' %}">コメント一覧</a>
  <br><br><br>


  <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
  </form>
</div>

{% endblock %}
