<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>リンク集</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
  </head>
  <body>
    <h1 class="title">SHIMA_link_summary</h1>
    <p>---------------------------</p>
    <a href="#idou"><h2>住所はこちらへ</h2></a>
    <p>---------------------------</p>
    <h2>
      SHIMAの開発物は<font color="#ff1493">
        <b><a href="https://github.com/dashboard" target="_blank">こちら</a></b>
      </font>
    </h2>
    <p>---------------------------</p>
    <h2>好きな画像</h2>
    <img src="{% static 'img/0000.png'%}" alt="windows画面" width="320px" />
    <p>---------------------------</p>
    <ul>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
    </ul>

    <ol>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
    </ol>
    <p>---------------------------</p>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p>---------------------------</p>
    <h2 id="idou">住所</h2>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </body>
</html>
