{% extends 'link_page/base.html' %} {% block content %}
  {% load static %}
  <dev class="linkWrapper">
    <dev class="header">
      <h1>SHIMAリンク集</h1>
    </dev>
    <a href="#idou"><h2>住所はこちら</h2></a>
    <h2>
      SHIMAの開発物は<font color="#ff1493">
        <b><a href="https://github.com/masaki-shima/link_page" target="_blank">こちら</a></b>
      </font>
    </h2>
    <img src="{% static 'img/0000.png' %}" alt="windows画面" width="320" />
    <ul>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
    </ul>
    <ol>
      <li>list1</li>
      <li>list2</li>
      <li>list3</li>
      <li>list4</li>
    </ol>
  </dev>
{% endblock %}
