<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Website</title>
    <link rel="stylesheet" href="{% static 'css/move_site/style.css' %}" />
  </head>
  <body>
    <section class="showcase">
      <header>
        <h1 class="logo">Fantasy</h1>
        <div class="toggle"></div>
      </header>

      <video src="{% static 'img/move_site/fantasy.mp4' %}" autoplay muted loop></video>

      <div class="overlay"></div>

      <div class="text">
        <h2>Fantasy Life</h2>
        <h3>Explore Something New</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. I sapiente
          voluptatum minus veritatis, magni eligendi doloremque dolor?
        </p>
        <a href="{% url 'move_site:scroll' %}" target="_blank">Dive Into</a>
      </div>

      <ul class="social">
        <li>
          <a href="https://www.youtube.com/@shima_jxdg/" target="_blank"><img src="{% static 'img/move_site/youtube.png' %}" alt="" /></a>
        </li>
        <li>
          <a href="https://x.com/shimanuki_m" target="_blank"><img src="{% static 'img/move_site/twitter.png' %}" alt="" /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/masaki_dg/" target="_blank"><img src="{% static 'img/move_site/instagram.png' %}" alt="" /></a>
        </li>
      </ul>
    </section>

    <div class="menu">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Destination</a></li>
        <li><a href="">Support</a></li>
        <br>
        <hr>
        <br>
        <h3>↓Shima Create↓</h3>
        <li><a href="{% url 'move_site:scroll' %}" target="_blank">Scroll Cross</a></li>
        <li><a href="{% url 'move_site:scroll_animation' %}" target="_blank">Scroll Animation</a></li>
        <li><a href="{% url 'move_site:bootstrap' %}" target="_blank">Bootstrap Site</a></li>
        <li><a href="{% url 'blog:frontpage' %}" target="_blank">MyBlog Site</a></li>
        <li><a href="{% url 'todo_list:login' %}" target="_blank">Todo List</a></li>
        <li><a href="{% url 'accounts:login' %}" target="_blank">Link Page</a></li>
      </ul>
    </div>
    <script>
      const menuToggle = document.querySelector(".toggle");
      const showcase = document.querySelector(".showcase");

      menuToggle.addEventListener("click", function () {
        /* activeにする */
        menuToggle.classList.toggle("active");
        showcase.classList.toggle("active");
      });
    </script>
  </body>
</html>
