<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cross Scroll Animation</title>
    <link rel="stylesheet" href="{% static 'css/move_site/scroll.css' %}" />
  </head>
  <body>
    <div class="title">
      <h1>Journey Through Photography</h1>
    </div>

    <section>
      <h2>Harajuku Station</h2>
      <div class="img-wrap">
        <class class="img"></class>
      </div>
    </section>
    <section>
      <h2>NTT Docomo Tower</h2>
      <div class="img-wrap">
        <div class="img"></div>
      </div>
    </section>
    <section>
      <h2>Omotesando Street</h2>
      <div class="img-wrap">
        <div class="img"></div>
      </div>
    </section>
    <section>
      <h2>Olive Plaza</h2>
      <div class="img-wrap">
        <div class="img"></div>
      </div>
    </section>
    <section>
      <h2>Flower Dance</h2>
      <div class="img-wrap">
        <div class="img"></div>
      </div>
    </section>

    <script src="{% static 'js/move_site/scroll.js' %}"></script>
  </body>
</html>
